<footer class="site-footer">

  <h2>
    <p><a href="/pages/hidden/faunix/index.html" id="link_to_home">
        Home</a></p>
  </h2>
  <ul>
    <li>
      <p id="footerUpdateInProgress"></p>
    </li>
    <li>
      <p id="footerLastUpdated"></p>
    </li>
    <li>
      <p>Updates every 5 minutes.</p>
    </li>
    <li>
      <button onclick="runHandshake()">update now</button>
    </li>
    <li>
      <h4><button onclick="startBugReport()">Submit Bug Report</a></h4>
    </li>
  </ul>




  <small style="color: #ffffff">&copy; 2025 Faunix.</small>
  <!-- Going to have her email listed here, like, "Email me here: " "or send a quick message"-->
  <!-- Eventually going to make the link automatically copy her email, not do mailto -->
</footer>