<nav class="site-nav" style="background-color: (97, 53, 255, 0.2);">
  <div class="nav-inner" style="background-color: (97, 53, 255, 0.2);">
    <div class="nav-links">
      <a href="/index.html">Homepage</a>
      <a href="/pages/services.html">My Services</a>
      <a href="/pages/values.html">My Values</a>
      <a href="/pages/education.html">My Training and Education</a>
      <a href="/pages/about.html">About Me</a>
      <a href="/pages/contact.html">Contact Me</a>
    </div>

  </div>
</nav>